* {
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
#header-div {
  max-width: 1440px;
  max-height: 4510px;
}
div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #262626;
}
nav ul li {
  padding: 40px;
}
#Logo {
  width: 220px;
  height: 36px;
  margin-top: 37px;
  margin-left: -15px;
}
#Lense {
  width: 47px;
  height: 47px;
  margin-top: 37px;
}
#header-img{
    width: 1272px;
    height: 559px;
}
h2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 23%;
  color: white;
  margin-top: 20px;
}
h1 {
  font-weight: 400;
  font-size: 46px;
  line-height: 69px;
  color: white;
  margin-top: 10px;
}
h1 span {
  font-weight: 700;
  color: #4ce0d7;
  }
p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin-top: -20px;
}
.header-container{
    position: relative;
    text-align:left;
}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 220px;
    padding: 0%;
    margin-left: -500px;
}